*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: @color-main;
  min-width: 320px;
}

.wrap{
  position: relative;
  margin: 0 auto;
}

.cf::after,
.wrap::after{
  content: ' ';
  display: table;
  clear: both;
}

.make-grid(xs, @gap);
.make-grid(sm, @gap);
.make-grid(md, @gap);
.make-grid(lg, @gap);
.make-grid(xl, @gap);

.flex{
  display: flex;

  &:not(.nospace) {
    justify-content: space-between;
  }

  &:not(.nowrap){
    flex-wrap: wrap;
  }

  &.row-reverse{
    flex-direction: row-reverse;
  }
}
