@screen-xxs: 360px;
@screen-xs: 480px;
@screen-sm: 720px;
@screen-md: 960px;
@screen-lg: 1200px;
@screen-xl: 1440px;
@screen-xxl: 1920px;

@gap: 20px;

@font-family: 'Roboto';
@color-main: #333;
@color-accent: #eeda69;
@color-accent-alt: #c7a6ff;